<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .block {
            width: 350px;
            height: 200px;
        }
        .btn_like {
            width: 40px;
            height: 35px;
        }
        .like {
            color: red;
        }
    </style>
</head>
<body>

    <div id="app">
        <h2>Коструктор</h2>
        <input type="text" v-model="blockWidth">
        <input type="text" v-model="blockHeigth">
        <input type="text" v-model="blockColor">
        <div class="block" :style="chenge">
            Lorem ipsum dolor sit amet.
        </div>


        <input type="text" @keyup.enter="send()"> <button @click="send()">Отправить</button>
        <h2>link elem</h2>
        <a :href="linkHref" href="#">my new link</a>
        <img :src="imgPhoto" alt="photo">


        <h2>{{ modelData }}</h2>
        <input type="text" v-model.lazy="modelData">
        <button @click="headingText" class="heading_bubbun">Click heading</button>


        <h2>Калькулятор</h2>
        <input type="text" v-model.number="ferstNumber">
        <input type="text" v-model.number="secondNumber">
        =
        {{ result }}
        <div>
            <button @click="plus">+</button>
            <button @click="minus">-</button>
            <button @click="mult">*</button>
            <button @click="div">/</button>
        </div>
        <h2>List</h2>
        <ul>
            <li v-for="item in listItems" :key="item.id">{{ item }}</li>
        </ul>
        <input type="text" v-model="newList" @keyup.enter="addItem">

        <article  v-for="article in data" :key="article.id" class="article">
            <h2 class="article_title">{{ article.title }}</h2>
            <p class="article_text">{{ article.text }}</p>
            <button class="btn_like" @click="likeToggle = !likeToggle" :class="{like: likeToggle}">Like</button>
        </article>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    likeToggle: false,
                    data: [
                        {
                            title: 'title text',
                            text: 'description text info element',
                        },
                        {
                            title: 'new title text',
                            text: 'new description text info element',
                        },
                    ],
                    listItems: [1, 2, 3, 4, 5],
                    blockWidth: 100,
                    blockHeigth: 100,
                    blockColor: '#ccc',
                    ferstNumber: 0,
                    secondNumber: 0,
                    result: 0,
                    modelData: '',
                    linkHref: 'product.html',
                    imgPhoto: '../dz/img/blogPhoto_1.png',
                    styleBlock: {
                        backgroundColor: 'green',
                        color: 'red',
                    }
                }
            },
            methods: {
                addItem() {
                    this.listItems.push(this.newList)
                    this.newList = ''
                },   
                plus() {
                    this.result = this.ferstNumber + this.secondNumber
                },
                minus() {
                    this.result = this.ferstNumber - this.secondNumber
                },
                mult() {
                    this.result = this.ferstNumber * this.secondNumber
                },
                div() {
                    this.result = this.ferstNumber / this.secondNumber
                },
                headingText() {
                    if (this.modelData === '') {
                        this.modelData = 'Не должно быть пустым'
                    }
                },
                send() {
                    console.log('Отправили данные внутри input');
                }
            },
            computed: {
                chenge() {
                    return {
                        width: `${this.blockWidth}px`,
                        height : `${ this.blockHeigth}px`,
                        backgroundColor: this.blockColor,
                    }
                },
            }    
        }).mount('#app')
    </script>
</body>
</html>